<table class="table">
  <thead>
    <tr><th><h1>Tune List</h1></th></tr>
    <tr>
      <th>Title</th>
      <th>Key</th>
      <th>Source</th>
      <th>Source Recording</th>
      <th>Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tunes.each do |tune| %>
      <tr>
        <td width="200px"><%= tune.tunename %></td>
        <td width="100px"><%= tune.tunekey %></td>
        <td width="200px"><%= tune.tunesource %></td>
         <td width="200px"><%= link_to 'Recording', tune.sourcerecording %></td>
        <td width="300px"><%= tune.tunenotes %></td>
        <td width="50px"><%= link_to 'Show', tune %></td>
        <td width="50px"><%= link_to 'Edit', edit_tune_path(tune) %></td>
        <td><%= link_to 'Delete', tune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
 

</table>
<%= link_to 'New Tune', new_tune_path %>



<br>


