<p id="notice"><%= notice %></p>

<p>
  <strong>Tune Name:</strong>
  <%= @tune.tunename %>
</p>

<p>
  <strong>Key:</strong>
  <%= @tune.tunekey %>
</p>

<p>
  <strong>Source:</strong>
  <%= @tune.tunesource %>
</p>

<p>
  <strong>Source Recording:</strong>
  <%= @tune.sourcerecording %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @tune.tunenotes %>
</p>

<%= link_to 'Edit', edit_tune_path(@tune) %> |
<%= link_to 'Back', tunes_path %>
